fastapi
uvicorn[standard]
motor==3.3.2
pymongo==4.6.3
beanie==1.25.0
python-dotenv
pydantic
colorama
python-multipart
passlib[bcrypt]
python-jose[cryptography]
email-validator
requests
beautifulsoup4
httpx
